/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Widget Section Styles */
.widget-section {
    display: grid; 
    grid-template-columns: 1fr; 
    gap: 20px; 
    margin-top: 10px;
    padding: 20px 40px;
    background-color: #fff;
    width: 100%; 
}

/* Widget Grid Styles */
.widget-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px; 
    justify-items: center; 
    align-items: start;
    width: 100%;
    max-width: 2000px;
    padding: 20px; 
}

/* Title Container Styles */
.widget-title-container {
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
}

/* Widget Title Styles */
.widget-title {
    margin: 0; 
    color: rgb(37, 150, 190); 
    text-align: center;
    font-size: 2.5em;
    font-weight: 600;
}

/* Individual Widget Styles */
.widget {
    background-color: #fff5eb;
    border-radius: 12px;
    padding: 15px; 
    width: 100%; 
    max-width: 300px; 
    min-height: 120px;
    display: flex;
    align-items: center;
    position: relative;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    transition: transform 0.2s, box-shadow 0.2s;
    margin: 3px 0; 
}

/* Change text color to black */
.widget-name {
    font-size: 1.2em;
    font-weight: 600;
    color: #000; 
    margin-bottom: 4px;
}

.widget-description {
    font-size: 0.9em;
    color: #000; 
}

/* Settings Button Container */
.widget-settings {
    position: absolute;
    top: 20px;
    right: 20px;
}

/* System Container Styles */
.system-container {
    display: flex; /* Use flexbox for alignment */
    justify-content: space-between; /* Space between left and right containers */
    margin-left: 50px;
    margin-right: 50px; 
    margin-top: 15px;
}

.system-left {
    flex: 1; /* Take up remaining space on the left */
    margin-right: 20px; /* Space between left and right sections */
}

.system-right {
    width: 600px; /* Fixed width for the calendar container */
    margin-left: 80px;
}

/* Responsive Design */
@media (max-width: 1200px) {
    .widget-grid {
        grid-template-columns: repeat(2, 1fr); 
    }

    .system-container {
        flex-direction: column; /* Stack items on smaller screens */
    }
}

@media (max-width: 768px) {
    .widget-grid {
        grid-template-columns: 1fr; 
    }
    
    .widget-section {
        padding: 20px;
    }
}   