.admin-root-container {
  display: flex;
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background: #f1f5f9;
}

/* New container to hold both header and main content */
.admin-container {
  display: flex;
  flex-direction: column;
  width: calc(100% - 260px);
  margin-left: 85px;
  transition: margin-left 0.3s ease, width 0.3s ease;
}

.admin-container.collapsed {
  width: calc(100% - 45px);
  margin-left: 45px;
}

.admin-main-content {
  height: 50%;
  margin-top: 20px;
  margin-right: 10px;
  padding: 30px;
  background-color: #D3D3D3;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: 107%; /* Changed to 100% to ensure proper alignment */
}

.sidebar-toggle {
  position: absolute;
  top: 20px;
  left: 10px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 100;
}

.toggle-icon {
  width: 24px;
  height: 24px;
  color: #1e293b;
}

.main-content {
  width: 100%; /* Adjusted to 100% for proper fitting */
  height: calc(100% - 50px);
}

/* Removed h2 styles since it's no longer used in the Dashboard */

/* Added styles for Headerboard */
.dashboard-header {
  margin-top: 50px; /* Space from the top */
  padding: 0 30px; /* Match padding with main content */
}

/* Responsive Design */
@media (max-width: 768px) {
  .admin-container {
    margin-left: 45px;
    width: calc(100% - 45px);
  }
  
  .admin-main-content {
    margin-right: 15px;
    padding: 20px;
  }
  
  .dashboard-header {
    padding: 0 20px;
  }
}