.admin-root-container {
  display: flex;
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background: #f1f5f9;
}

.admin-main-content {
  width: calc(100% - 260px); /* Width minus the sidebar width */
  height: 100%; /* Full height */
  margin-top: 50px; /* Margin from the top */
  margin-right: 10px; /* Adjusted right margin */
  padding: 30px;
  transition: margin-left 0.3s ease;
  background-color: #ffffff; /* Ensure background color is set */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  margin-left: 85px;
}

.admin-main-content.collapsed {
  width: calc(100% - 45px); /* Width minus collapsed sidebar */
  margin-left: 45px; /* Adjust for collapsed sidebar */
  margin-right: 15px; /* Adjusted right margin */
}

.sidebar-toggle {
  position: absolute;
  top: 20px;
  left: 10px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 100;
}

.toggle-icon {
  width: 24px;
  height: 24px;
  color: #1e293b;
}

.main-content {
  width: 100%; /* Full width of the container */
  height: calc(100% - 50px); /* Full height minus top margin */
  border-radius: 8px;
  padding: 20px;
}

h2 {
  color: #1e293b;
  margin-bottom: 20px;
}

/* Responsive Design */
@media (max-width: 768px) {
  .admin-main-content {
      margin-left: 45px; /* Adjust for collapsed sidebar */
      width: calc(100% - 45px); /* Adjust for collapsed sidebar */
      margin-right: 15px; /* Adjusted right margin for smaller screens */
  }
}