.carousel-content {
    position: relative;
    overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-items-container {
    width: 100%;
    display: flex;
    cursor: grab;
}

.carousel-items-container:active {
    cursor: grabbing;
}

.carousel-item {
    width: 100%;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    padding: 2rem;
    margin: 0 1rem;
}

.carousel-footer {
    margin-top: 1rem;
}

.carousel-dots {
    display: flex;
    justify-content: center;
}

.dot {
    height: 10px;
    width: 10px;
    margin: 0 5px;
    background-color: gray;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}

.dot.active {
    background-color: black;
}

.gradient-edge {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 10%;
    max-width: 100px;
    pointer-events: none;
    z-index: 2;
}

.gradient-edge.left {
    left: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0));
}

.gradient-edge.right {
    right: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0));
}