.startup-container {
    text-align: center;
    padding: 50px;
    background-color: rgb(37, 150, 190); /* Updated background color */
    box-shadow: 0 2px 10px rgba(255, 255, 255, 0.5); /* White shadow with transparency */
    border-radius: 10px; /* Optional: Rounded corners */
    margin-top: 5px;
}

.main-title {
    font-size: 3em; /* H1 size */
    margin: 0;
    color: white; /* Set text color to white */
}

.sub-title {
    font-size: 1.5em; /* Smaller size for H2 */
    margin: 10px 0;
    color: white; /* Set text color to white */
}

.footer-text {
    font-size: 0.9em; /* Smaller size for paragraph */
    margin: 10px 0;
    color: white; /* Set text color to white */
}

.learn-more-button {
    padding: 10px 20px;
    font-size: 1em;
    color: white;
    background-color: #007bff; /* Button color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px; /* Add margin to create space above the button */
}

.learn-more-button:hover {
    background-color: #0056b3; /* Darker shade for hover effect */
}