.section-wrapper {
    padding: 24px;
    background-color: white;
    width: fit-content;
    margin-top: 20px; /* Added margin on top */
}

.maintenance-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    max-width: 400px;
    padding: 30px;
    border-radius: 12px;
    background-color: #0a192f;
    width: 400px;
    margin-left: 600px;
    border: 1px solid rgba(255, 255, 255, 0.2); /* Added a border for better visibility */
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 
                0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.maintenance-title {
    font-size: 1.25rem;
    font-weight: 500;
    color: white;
    margin: 0;
}

.maintenance-card {
    width: 100%;
    background-color: #112240;
    border-radius: 16px;
    padding: 16px 20px;
    display: flex;
    align-items: center;
}

.card-text {
    color: white;
    font-size: 0.9375rem;
    font-weight: 400;
}